*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 600px;
   display: flex;
   flex-wrap: wrap;
}

h1{
   width: 100%;
   text-align: center;
   font-size: 50px;
   margin-bottom: 30px;
}

form div {
   width: 50%;
   padding: 10px;
   position: relative;
}

span {
   position: absolute;
   font-size: 20px;
   font-weight: bold;
   font-family: sans-serif;
   top: 17%;
   left: 81%;
   color: #757575;
}

input {
   width: 100%;
   font-size: 20px;
   font-weight: bold;
   padding: 10px 50px 10px 10px;
   margin-bottom: 20px;
   border: 1px solid rgba(0, 0, 0, 0.219);
   outline: none;
}

select {
   width: 100%;
   font-size: 20px;
   font-weight: bold;
   padding: 10px 10px;
   outline: none;
   border: 1px solid rgba(0, 0, 0, 0.226);
}

@media(max-width: 620px){
   form{
      width: 80%;
      padding: 0px 20px;
      text-align: center;
   }

   form div {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 50px;
   }
}

@media(max-width: 520px){
   form{
      width: 90%;
      padding: 0px 20px;
      text-align: center;
   }

   form div {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 50px;
   }

   span{
      top: 18%;
      font-size: 17px;
      font-weight: bold;
   }

   h1 {
      font-size: 40px;
   }
}

@media(max-width: 420px){
   form{
      width: 100%;
      padding: 0px 20px;
      text-align: center;
   }

   form div {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 50px;
   }

   h1 {
      font-size: 35px;
   }
}